.u-justifyContentCenter {
  justify-content: center;
}

.u-flex {
  display: flex;
}

.u-paddingSmall {
  padding: 16
}

.u-paddingHorizontalSmall {
  padding-left: 16;
  padding-right: 16;
}

.u-paddingVerticalSmall {
  padding-top: 16;
  padding-bottom: 16;
}

.u-paddingRightSmall {
  padding-right: 16;
}

.u-paddingLeftSmall {
  padding-left: 16;
}
